* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px "Roboto", sans-serif;
}

.fade-enter, .fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
  transition: all 300ms linear 150ms;
}
.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;

  &.fade-exit-active {
    animation: .4s slide-up;
  }
}

@keyframes slide-up {
  25% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(4rem);
    opacity: 0;
  }
}
